<!-- Flask/PyMySQL app to post ride request and offers in the rideshare_db.
    Base HTML file to that uses template inheritance
    Daisy, Lindsay, and Valerie. 
    Fall 2022 -->
  

<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<!-- Start of CAS login/out button-->
        
{% if username %}

    <form method="GET" action="{{url_for('cas.logout')}}">
      <button>logout {{username}}</button>
    </form>
{% else %}
<form method="GET" action="{{url_for('cas.login')}}">
 <button>login</button>
</form>
{% endif %}

<!-- End of CAS login/logout button-->
  
<!-- Navigation bar  Block Begins-->
{% block nav %}
<nav>
  <ul>
    <li><a href="{{url_for('index')}}">All Posts</a></li>
    <li><a href="{{url_for('showmy')}}">My Posts</a></li>
    <li><a href="{{url_for('myprofile')}}">My Profile</a></li>
    <li><a href="{{url_for('insert')}}">Create a Post</a></li>
  </ul>
</nav>
{% endblock %}

<!-- Navigation bar Block Ends-->


<!-- Main Block Begins-->
{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>

<!-- Main Block Ends-->



</html>
