<!-- Flask/PyMySQL app to post ride request and offers in the rideshare_db. 
    HTML file that implements the home page of the app
    by extending Base HTML file
    Daisy, Lindsay, and Valerie. 
    Fall 2022 -->
{% extends "base.html" %}


{% block main_content %}
<h1>Wellesley College Rideshare</h1>
<p>Students looking for drivers are posts highlighted in <b>blue</b> and students offering rides are posts highlighted in <b>green</b>.</p>



<form method= GET action="{{url_for('result')}}">
  <label>Destination Name:<br>
  <input type="text" name="destination-name"></label><br>
  <label>Street Address:<br>
  <input type="text" name="street-address"></label><br>
  <label>City:<br>
  <input type="text" name="city"></label><br>
  <label>State:
  <select id="menu-state" name="menu-state">
  <option value="none"></option>
    {% for state in states %}
    <option value="{{state}}">{{state}}</option>
    {% endfor %}
 </select></label><br>
 <label>Zip Code:<br>
  <input type="text" name="zip"></label><br>
  <label>User:<br>
  <select id="menu-user" name = "menu-user">
    <option value="none"></option>
    {% for user in users %}
    <option value="{{user.username}}">{{user.username}} ({{user.name}})</option>
    {% endfor %}
  </select></label><br>
  <label> Date:
  <input type="date" name="date"></label><br>
  <label>Time:<br>
  <input type="time" name="time"></label><br>
  <label>Cost ($):<br>
  <input type="number" name="cost"></label><br>
  <label>Seats:<br>
  <input type="number" name="seats"></label><br>
  <p><input type="submit" value="Search"></p>
     
</form>

{% for post in posts %}
{% if post.type == "offering" %}
<div class = "offering-post post-block ">
  <h3>Offering: (<a href = "{{ url_for( 'post', post_id = post.pid) }}">{{post.title}}</a>) </h3> 
{% else %}
<div class = "looking-for-post post-block">
  <h3>Looking for: (<a href = "{{ url_for( 'post', post_id = post.pid) }}">{{post.title}}</a>) </h3> 
{% endif %}
    {% if post.type == "offering" %}
    <div class = "offering-info">
    {% else %}
    <div class = "seeking-info">
    {% endif %}
        <p>User: {{post.name}} (<a href = "{{ url_for( 'profile', username = post.username ) }}">{{post.username}}</a>)</p>
        <p>Phone Number: {{post.phone_number}}</p>
    </div>
    {% if post.type == "offering" %}
    <div class = "offering-info">
    {% else %}
    <div class = "seeking-info">
    {% endif %}
        <p>{{post.destination}}, {{post.street_address}}, {{post.city}}, {{post.state}} {{post.zipcode}}</p>
    </div>
    {% if post.type == "offering" %}
    <div class = "offering-info">
    {% else %}
    <div class = "seeking-info">
    {% endif %}
    <p>Date: {{post.date.month}}/{{post.date.day}}/{{post.date.year}} Time: {{post.time}}</p>
    <p>Seats: {{post.seats}}</p>
    <p>Cost: ${{post.cost}}</p>
    <p>Special Request: {{post.special_request}}</p>
    </div>
</div>
{% endfor %}


{% endblock %}
