<!-- Flask/PyMySQL app to post ride request and offers in the rideshare_db. 
    HTML file that implements the home page of the app
    by extending Base HTML file
    Daisy, Lindsay, and Valerie. 
    Fall 2022 -->
{% extends "base.html" %}

{% block main_content %}
<h1>Wellesley College Rideshare</h1>
<p>Students looking for drivers are posts highlighted in <b>blue</b> and students offering rides are posts highlighted in <b>green</b>.</p>

<div class ="login" id = "login">
    <form>
        <label for="username">Username:</label><br>
        <p><input type="text" id="username" name="username"></p>
        <label for="password">Password:</label><br>
        <p><input type="text" id="password" name="password"></p>
        <p>Not yet implemented.</p>
    </form>
    </div>

<form>
  <label for="destination-name">Destination Name:</label><br>
  <input type="text" name="destination-name"><br>
  <label for="city">City:</label><br>
  <input type="text" name="city"><br>
  <label for="state">State:</label>
  <select id="menu-state">
  <option value="none"></option>
    {% for state in states %}
    <option value="{{state}}">{{state}}</option>
    {% endfor %}
 </select><br>
  <label for="user">User:</label><br>
  <select id="menu-user">
    <option value="none"></option>
    {% for user in users %}
    <option value="{{user.username}}">{{user.username}} ({{user.name}})</option>
    {% endfor %}
  </select><br>
  <label for="date">Date:</label>
  <input type="date" name="date"><br>
  <label for="time">Time:</label><br>
  <input type="time" name="time"><br>
  <label for="min-cost">Min Cost ($):</label><br>
  <input type="number" name="min-cost"><br>
  <label for="max-cost">Max Cost ($):</label><br>
  <input type="number" name="max-cost"><br>
  <label for="seats">Seats:</label><br>
  <input type="number" name="seats"><br>
  <p><input type="submit" value="Search"></p>
     
</form>



{% for post in posts %}
{% if post.type == "offering" %}
<div class ="post-block" id = "offering">
{% else %}
<div class ="post-block" id = "seeking">
{% endif %}
    <h3>{{post.title}}</h3> 
    {% if post.type == "offering" %}
    <div class="driver-info-block" id="driver-block">
    {% else %}
    <div class="rider-info-block" id="driver-block">
    {% endif %}
        <p>User: {{post.name}} (<a href = "{{ url_for( 'profile', username = post.username ) }}">{{post.username}}</href></a>)</p>
        <p>Phone Number: {{post.phone_number}}</p>
    </div>
    {% if post.type == "offering" %}
    <div class="driver-info-block" id="destination-block">
    {% else %}
    <div class="rider-info-block" id="destination-block">
    {% endif %}
        <p>{{post.destination}}</p>
    </div>
    {% if post.type == "offering" %}
    <div class ="driver-info-block" id="ride-block">
    {% else %}
    <div class ="rider-info-block" id="ride-block">
    {% endif %}
    {%if post.time.hour < 12 %}
        {%if post.time.minute < 10 %}
        <p>Date: {{post.time.month}}/{{post.time.day}}/{{post.time.year}} Time: {{post.time.hour}}:0{{post.time.minute}}am</p>
        {% else %}
        <p>Date: {{post.time.month}}/{{post.time.day}}/{{post.time.year}} Time: {{post.time.hour}}:{{post.time.minute}}am</p>
        {% endif %}
    {% else %}
        {%if post.time.minute < 10 %}
        <p>Date: {{post.time.month}}/{{post.time.day}}/{{post.time.year}} Time: {{post.time.hour-12}}:0{{post.time.minute}}pm</p>
        {% else %}
        <p>Date: {{post.time.month}}/{{post.time.day}}/{{post.time.year}} Time: {{post.time.hour-12}}:{{post.time.minute}}pm</p>
        {% endif %}
    {% endif %}
        <p>Seats: {{post.seats}}</p>
        <p>Cost: ${{post.cost}}</p>
        <p>Special Request: {{post.special_request}}</p>
    </div>
</div>
{% endfor %}

{% endblock %}
