<!-- Flask/PyMySQL app to post ride request and offers in the rideshare_db.  
    HTML file that implements the My Posts page of the app
    by extending Base HTML file
    Daisy, Lindsay, and Valerie. 
    Fall 2022 -->
{% extends "base.html" %}

{% block main_content %}
<h1>My Posts!</h1>
{% for post in posts %}

<form action="{{url_for('my_posts')}}" method="post">
    {% if post.type == "offering" %}
    <div class = "offering-post post-block">
      <h3>Offering: (<a href = "{{ url_for( 'post', post_id = post.pid) }}">{{post.title}}</a>) </h3> 
    {% else %}
    <div class = "looking-for-post post-block">
      <h3>Looking for: (<a href = "{{ url_for( 'post', post_id = post.pid) }}">{{post.title}}</a>) </h3> 
    {% endif %}
        {% if post.type == "offering" %}
        <div class = "offering-info">
        {% else %}
        <div class = "seeking-info">
        {% endif %}
            <p>User: {{post.name}} (<a href = "{{ url_for( 'profile', username = post.username ) }}">{{post.username}}</a>)</p>
            <p>Phone Number: {{post.phone_number}}</p>
        </div>
        {% if post.type == "offering" %}
        <div class = "offering-info">
        {% else %}
        <div class = "seeking-info">
        {% endif %}
            <p>{{post.destination}}, {{post.street_address}}, {{post.city}}, {{post.state}} {{post.zipcode}}</p>
        </div>
        {% if post.type == "offering" %}
        <div class = "offering-info">
        {% else %}
        <div class = "seeking-info">
        {% endif %}
        <p>Date: {{post.date.month}}/{{post.date.day}}/{{post.date.year}} Time: {{post.time}}</p>
        <p>Seats: {{post.seats}}</p>
        <p>Cost: ${{post.cost}} Pid: {{post.pid}}</p>
        <p>Special Request: {{post.special_request}}</p>
    </div>
    <p><button name="pid" type="submit" value={{post.pid}}>Delete Post</button></p>
    <button type="button"><a href="{{url_for('update_post', pid = post.pid)}}">Update Post </a></button>
    </div>
    </form>
    

{% endfor %}

{% endblock %}
