<!-- Flask/PyMySQL app to post ride request and offers in the rideshare_db.  
    HTML file that implements the My Posts page of the app
    by extending Base HTML file
    Daisy, Lindsay, and Valerie. 
    Fall 2022 -->
{% extends "base.html" %}

{% block main_content %}
<h1>My Posts!</h1>
{% for post in posts %}

<form action="{{url_for('my_posts')}}" method="post">
{% if post.type == "offering" %}
<div class ="post-block" id = "offering">
{% else %}
<div class ="post-block" id = "seeking">
{% endif %}
    <h3>{{post.title}}</h3> 
    {% if post.type == "offering" %}
    <div class="driver-info-block" id="driver-block">
    {% else %}
    <div class="rider-info-block" id="driver-block">
    {% endif %}
        <p>User: {{post.name}} (<a href = "{{ url_for( 'profile', username = post.username ) }}">{{post.username}}</href></a>)</p>
        <p>Phone Number: {{post.phone_number}}</p>
        
    </div>
    {% if post.type == "offering" %}
    <div class="driver-info-block" id="destination-block">
    {% else %}
    <div class="rider-info-block" id="destination-block">
    {% endif %}
        <p>{{post.destination}}, {{post.street_address}}, {{post.city}}, {{post.state}} {{post.zipcode}}</p>
    </div>
    {% if post.type == "offering" %}
    <div class ="driver-info-block" id="ride-block">
    {% else %}
    <div class ="rider-info-block" id="ride-block">
    {% endif %}
    <p>Date: {{post.date.month}}/{{post.date.day}}/{{post.date.year}} Time: {{post.time}}</p>
    <p>Seats: {{post.seats}}</p>
    <p>Cost: ${{post.cost}}</p>
    <p>Special Request: {{post.special_request}}</p>

    <p><button name="pid" type="submit" value={{post.pid}}>Delete Post</button>  </p>
    </form>
    </div>
</div>
{% endfor %}




{% endblock %}
