<!-- Flask/PyMySQL app to post ride request and offers in the rideshare_db. 
    HTML file that implements the ??? page of the app
    by extending Base HTML file
    Daisy, Lindsay, and Valerie. 
    Fall 2022 -->
    {% extends "base.html" %}

    {% block main_content %}
    <div>
    <h1>{{ post.title }}</h1>
    <br>
    <h2>Who? </h2>
    {% if post.type=='looking for' %}
    <h4>Person Looking For a Ride: {{ poster.name }}</h4>  
    {% else %}
    <h4>Driver: {{ poster.name }}</h4>  
    {% endif %}
    <h4>Their Contact Info: {{ poster.phone_number }}</h4>  

    <h2>Where? </h2>
    <h4>Destination: {{ post.destination }}</h4>
    <h4>Address: {{ post.street_address }} {{ post.city }}, {{post.state}} {{post.zipcode}}</h4>
    <h4>Date: {{ post.date }} </h4>
    <h4>Time: {{ post.time }}</h4>

    <h2>Extra Info? </h2>
    {% if post.type=='looking for' %}
    <h4>Seats Needed: {{ post.seats }}</h4> 
    {% else %}
    <h4>Seats Available: {{ post.seats }}</h4>  
    {% endif %} 

    {% if post.type=='looking for' %}
    <h4>Amount Willing to Pay: {{ post.cost }}</h4> 
    {% else %}
    <h4>Charging: {{ post.cost}}</h4>  
    {% endif %} 

    <h4>Special_Request: {{ post.special_request }}</h4>
    
    <br>
    <h2>Comments:</h2>
    {% for comment in comments %}
    <h5>{{comment.username}} said "{{comment.content}}" at {{comment.time}}.</h5>
    </div>
    </div>
    {% endfor %}



    <form action="{{url_for('post', post_id = post.pid)}}" method="post">

    <p><label for="comment">Add a comment:</label></p>
    <p><textarea id="comment" name="new_comment" rows=3 cols=60></textarea></p>

    <p><input type="submit" value="Add comment!">
    </form>

    {% endblock %}
    