<!-- Flask/PyMySQL app to post ride request and offers in the rideshare_db. 
    HTML file that implements the ??? page of the app
    by extending Base HTML file
    Daisy, Lindsay, and Valerie. 
    Fall 2022 -->
    {% extends "base.html" %}

    {% block main_content %}
    <div>
    <h1>{{ post.title }}</h1>
    <h2>Who?: </h2>
    {% if post.type=='looking for' %}
    <h3>Person Looking For a Ride: {{ poster.name }}</h3>  
    {% else %}
    <h3>Driver: {{ poster.name }}</h3>  
    {% endif %}
    <h3>Their Contact Info: {{ poster.phone_number }}</h3>  

    <h2>Where? </h2>
    <h3>Destination: {{ post.destination }}</h3>
    <h3>Address: {{ post.street_address }} {{ post.city }}, {{post.state}} {{post.zipcode}}</h3>
    <h3>Date: {{ post.date }} </h3>
    <h3>Time: {{ post.time }}</h3>

    <h2>Extra Info? </h2>
    {% if post.type=='looking for' %}
    <h3>Seats Needed: {{ post.seats }}</h3> 
    {% else %}
    <h3>Seats Available: {{ post.seats }}</h3>  
    {% endif %} 

    {% if post.type=='looking for' %}
    <h3>Amount Willing to Pay: {{ post.cost }}</h3> 
    {% else %}
    <h3>Charging: {{ post.cost}}</h3>  
    {% endif %} 

    <h3>Special_Request: {{ post.special_request }}</h3>
    
    
    <h2>Comments:</h2>
    {% for comment in comments %}
    <h5>{{comment.username}} said "{{comment.content}}" at {{comment.time}}.</h5>
    </div>
    </div>
    {% endfor %}



    <form action="{{url_for('post', post_id = post.pid)}}" method="post">

    <p><label for="comment">Add a comment:</label></p>
    <p><textarea id="comment" name="new_comment" rows=3 cols=60></textarea></p>

    <p><input type="submit" value="Add comment!">
    </form>

    {% endblock %}
    