<!-- Flask/PyMySQL app to post ride request and offers in the rideshare_db. 
    HTML file that implements the profile page of the app
    by extending Base HTML file
    Daisy, Lindsay, and Valerie. 
    Fall 2022 -->
    {% extends "base.html" %}

    {% block main_content %}
    <div>
    <h1>{{ user.name }}</h1>
    <h2>Username: {{ user.username }}</h2>
    <h2>Phone Number: {{ user.phone_number }}</h2>
    <h2>Class Year: {{ user.class_year }}</h2>
    <h2>Major: {{ user.major }}</h2>
    <h2>Hometown: {{ user.hometown }}</h2>
    </div>
    
    {% endblock %}
    